:root {
    --amarillo1 : #fabd00;
    --rojo : #ad1519;
    --rojoClaro: #d25552;
    --verde: #088e3e;
    --amarillo : #fcd801;
    --amarilloPrincipal: #ffcc00;
    --negroFondo: #080001;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: rgba(0, 0, 0, 0.822) !important; 
}



.rojo {
    color: var(--rojo);
}

.navbar-nav .nav-item  > .nav-link:hover {
    /* color: #fff; Color blanco */
    /* text-shadow: 1px 1px 3px var(--rojo) */
    border-bottom: 1px solid var(--rojo);
    /* border-radius: 6px; */
}



.post a:hover{
    background: #fabd00;
}

.rect {
    background: var(--rojo);
    width: 100%;
    height: auto;
}

.rect h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.container-fluid h1 {

    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;

}

.titulo h1 {
    font-size: 2rem;
}

.titulo p {
    font-size: .9rem;
}

.titulo a {
    font-size: 1rem;
    margin-left: .7rem;

}

.times {
    font-family: 'Times New Roman', Times, serif;
}

svg{
    z-index: -1;
}

.encabezado {
    background-image: linear-gradient(to right, #ad1519 , #ffffff);
    width: 100%;
   
    border-radius: 0; /* Bordes irregulares */
    /* position: relative; */
    
}

.encabezado .btn {
    /* position: absolute; */
     /* left: 20%; */
    padding: .5rem; 
    margin-left: 8rem !important;
    margin-bottom: 1rem;

}

a.btn.btn-outline-secondary.border.text-white:hover {
    /* Estilos para hover */
    /* Por ejemplo: Cambiar color de fondo */
    background-color: #f0f0f086;
    color: #ad1519 !important;
}





/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    .valores .imgIzq img {
        display: none; /* Oculta el elemento */
    }
    .valores .imgDcha img {
        display: none;
    }
    .encabezado .filtroGris img {
        display: none;
    }
    .encabezado p {
        font-size: 1.2rem;
        text-align: center;
    }
    .encabezado {
        background: var(--rojo);
    }
    .encabezado h1 {
        text-align: center;
    }
     .arrow3 {
        width: 50% !important;
        left: 40%;
        top: 20%;
        display: none;
    }

    
}



@media screen and (min-width:360px) {
    
    .cont_contr .arrow1 {
        left: 33%;
        
    }
     
  
 
}



@media screen and (min-width:340px) {
    
    .encabezado .btn {
        left: 22%;
    }
 

 
}





/* Estilos para pantallas anchas (escritorio) */
@media only screen and (min-width: 768px) {
    .titulo h1 {
        font-size: 4rem; /* Tamaño de fuente más grande para pantallas anchas */
        text-align: center;
        
    }
    .titulo p {
        font-size: 1.3rem;
    }
    .rectBorder {
        margin: 1rem;
    }
    .encabezado .btn {

        margin-left: 20rem !important;
    }

    .cont_contr .arrow1 {

        left: 1%;

    }
    .img1 .rectImg1 {
        left: 26%;
    }

    .img2 .rectImg2 {
        left: 26%;
    }
    .img3 .rectImg3 {
        left: 26%;
    }
 

    




}

/* Estilos para pantallas anchas (escritorio) */
@media screen and (min-width: 768px) {
    .valores .imgIzq img {
        display: block; /* Muestra el elemento */
    }
 

}

.filtroGris img {
    filter: grayscale(70%);
}



.encabezadoContratar {

    background-image: linear-gradient(to right, #d25552 , #ffffff);
    width: 100%;
   
    border-radius: 0; /* Bordes irregulares */
    position: relative;
    
}

.encabezadoPostulacion {

    background-image: linear-gradient(to right, #fabd00 , #ffffff);
    width: 100%;
   
    border-radius: 0; /* Bordes irregulares */
    position: relative;
    
}

.img1 {
    position: relative;
}

.rectImg1 {
    width: 300px;
    height: 300px;
    border: 3px solid #ad1519 ;

    /* background: var(--rojo); */
    position: absolute;
    top: -4%;
    left: 12%;
    z-index: -1;
    
}

.img1 img {

    width: 300px;
    height: auto;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);
    
    /* border-radius: 50% 50% 50% 53% / 50% 55% 45% 52%; */

}

.img2 {
    position: relative;
}

.rectImg2 {
    width: 300px;
    height: 300px;
    border: 3px solid #ffcc00;
    /* background: var(--amarillo); */
    position: absolute;
    top: -4%;
    left: 12%;
    z-index: -1;
}

.img2 img {
    width: 300px;
    height: auto;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);
    
    /* border-radius: 50% 50% 50% 53% / 50% 55% 45% 52%; */

}


.img3 {
    position: relative;
}

.rectImg3 {
    width: 300px;
    height: 300px;
    border: 3px solid #ad1519 ;
    
    /* background: var(--rojo); */
    position: absolute;
    top: -4%;
    left: 12%;
    z-index: -1;
}

.img3 img {

    width: 300px;
    height: auto;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.336);

}

.btnRojo {
    background-color: var(--rojoClaro) !important;
}

.btnRojo:hover {
    color: #ad1519 !important;
    background-color: #ffffff !important;
}

.btnVerde {
    background-color: var(--verde) !important;
}

.btnVerde:hover{
    color: #088e3e !important;
    background-color: #ffffff !important;
}

.btnAmarillo {
    background-color: var(--amarilloPrincipal) !important;
}

.btnAmarillo:hover {
    color: grey !important;
    background-color: #ffffff !important;
}

.rectRojo2 {
    background: var(--rojoClaro);
}

.rectBorder {
    border: 1px solid #ad151a7c;
   padding: 2rem;
   background: #d9d9d923;
   border-radius: 3px;
   /* margin: 1rem; */
   
    
}
.lineaRoja {
    width: 2.1rem;
    height: 3px;
    border-radius: 6px;
    background: var(--rojo);
    position: absolute;
    right: 10rem;
    top: 1.5rem;
    transition: width .3s;
}

.lineaAmarilla {
    width: 3rem;
    height: 3px;
    border-radius: 6px;
    background: var(--amarillo);
    position: absolute;
    left: 10rem;
    top: 1.5rem;
    transition: width 0.3s;
}



.contrata:hover .lineaAmarilla {
    width: 7rem;
}

.contrata:hover .lineaRoja {
    width: 3.3rem;
}

.contrata {
    position: relative;
}

.contrata img {
    border-radius: 50%;

}

.contrata p a:hover {
    color: #ffffff !important;
    font-weight: 600;
}

.circleImg {
    width: 300px;
    height: 300px;
    background: var(--rojoClaro);
    border-radius: 50%;
    transition: transform 0.5s;
}
.circleImg2 {
    width: 300px;
    height: 300px;
    background: var(--amarilloPrincipal);
    border-radius: 50%;
    transition: transform 0.5s;

}

.circleImg3 {
    width: 300px;
    height: 300px;
    background: var(--amarilloPrincipal);
    border-radius: 50%;
    

}

.circleImg img {
    transition: transform 0.5s;
    max-width: 100%;
    filter: grayscale(80%);

}
.circleImg2 img {
    transition: transform 0.5s;
    max-width: 100%;
    filter: grayscale(80%);

}

.circleImg:hover {
    transform: scale(1.1);
}

.circleImg2:hover {
    transform: scale(1.1);
}

.circleImg img:hover {
    transform: scale(1.1);
    filter: grayscale(10%);
}

.circleImg2 img:hover {
    transform: scale(1.1);
    filter: grayscale(10%);

}

.fondoRojo {
    background: var(--rojo);
    color: #ffffff;
    /* border-radius: 6px; */
}

.fondoRojo2 {

    background: var(--rojo);
    color: #ffffff !important;
    width: 100%;

}

.fondoRojoClaro {
    background: var(--rojoClaro);
    width: 100%;
}

.fondoAmarillo {
    background: var(--amarillo1);
    width: 100%;
}

.fondoAmarillo p {
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.555);
}

.fondoNegro {
    background: rgba(0, 0, 0, 0.822);
    color: #ffffff !important;
    width: 100%;
}

.fondoNegro p {
    color: #ffffff !important;
}

.fondoRojoGradient {
    background-image: linear-gradient(to right, #ad1519 , #ffffff);
    width: 100%;
    color: #ffffff;
    border-radius: 6px;
}

.fondoAmarilloGradient {
    background-image: linear-gradient(to right, #fabd00 , #ffffff);
    width: 100%;
    color: #ffffff;
    border-radius: 0;
}

.fondoAmarilloGradient2 {

    background-image: linear-gradient(to right, #ffffff ,  #fabd00);
    width: 100%;
    color: #ffffff;
    border-radius: 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);

}

.fondoAmarilloGradient img {
    filter: grayscale(70%);
}

.porqueElegirnos {
    background: #e4ab01;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 5px 10px #00000028;
    
}

.porqueElegirnos img {
    border-radius: 50%;
}

@media screen and (min-width:340px) {
    
   
    

    .valores .rectBorder {
        margin-bottom: 1rem;
    }
   
 
}


.valores{
    position: relative;
}

.imgIzq img{
    position: absolute;
    left: 0;
    top:0;
    width: 33%;
    
    
}

.imgDcha img{
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    
}

.circulos2 {
    display: flex;
    justify-content: end;
    padding: .2rem;
    
}
.circ2 {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    margin: .2rem;
    background: var(--rojoClaro);
}


footer {
    background: var(--rojoClaro);
    color: #ffffff;
}

.trama1 {
    background-image: url('/webFecotracSpain/img/tramaAbstracta3b.png');
    background-repeat: no-repeat;
    width: 10%;
    opacity: 1;
}



.trama2 {
   position: fixed;
   top: 0;
   right: 0;
 
    width: 100%;
    z-index: -1;
    /* overflow: hidden; */
}

.trama2 img {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    
    /* visibility: hidden; */
    /* overflow:hidden; */
    /* transform: rotate(180deg); */
}

.trama3 {
    position: fixed;
    top: 50%;
    left: 0;
  
     width: 100%;
     z-index: -1;
     display: none;
     /* overflow: hidden; */
 }
 
 .trama3 img {
     position: absolute;
     top: 0;
     left: 0;
     width: 25%;
     /* overflow:hidden; */
     /* transform: rotate(180deg); */
 }


 .cont_contr {
    position: relative;
 }

  .arrow1 {

    position: absolute;
    right: 50%;
    top: 90%;
    width: 60%;
 }

 .cont_agric{
    position: relative;
 }

 .cont_agric .arrow2 {
    position: absolute;
    left: 40%;
    top: 84%;
    width: 55%;
    transform: rotate(10deg);
 }


 .cont_gastr {
    position: relative;
 }

 .cont_gastr .arrow3 {

    position: absolute;
    right: 30%;
    top: 80%;
    width: 30%;

 }

 .arrow1, .arrow2, .arrow3 {
    filter: invert(100%);
 }

 .circulos {
    display: flex;
    justify-content:end;
    padding: .5rem;
 }

 .circ {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #ffffff;
    margin: .2rem;

    
 }